<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <div class='row'>
        <h3>User Info</h3>
        <%= render 'users/info', user: current_user %>
      </div>
      <div class='row'>
        <h3>New book</h3>
        <%= render 'books/form', booknew: @booknew %>
      </div>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h3>Users</h3>
       <%= render 'users/index', users: @users %>
    </div>
  </div>
</div>